<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".xml" allowed="false" />
                    <add fileExtension=".ph" allowed="false" />
                    <add fileExtension=".csv" allowed="false" />
                    <add fileExtension=".png" allowed="false" />
                    <add fileExtension=".yml" allowed="false" />
                    <add fileExtension=".txt" allowed="false" />
                </fileExtensions>
                <denyUrlSequences>
                    <add sequence="test" />
                    <add sequence="candidate" />
                    <add sequence="candidate_test" />
                    <add sequence="dev" />
                    <add sequence="dev_test" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
